@model confop.Models.Contato

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Contato</legend>

    <div class="display-label">Remetente</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Remetente)
    </div>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">Assunto</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Assunto)
    </div>

    <div class="display-label">Mensagem</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mensagem)
    </div>

    <div class="display-label">Site</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Site.Nome)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
