<div id="vertical-menu-box">
<ul>
    <li>@Html.ActionLink("Inicial", "Index", "Admin")</li>
    <li>@Html.ActionLink("Seções de Conteúdo", "Index", "Secao")</li>
    <li>@Html.ActionLink("Perguntas Frequentes", "Index", "Faq")</li>
    <li>@Html.ActionLink("Links Úteis", "Index", "Link")</li>
    <li>@Html.ActionLink("Eixos Temáticos", "Index", "GrupoTrabalho")</li>
    <li>@Html.ActionLink("Comitê de Programa", "Index", "Comite")</li>
    <li>@Html.ActionLink("Mensagens", "Index", "Contato")</li>
    <li>@Html.ActionLink("Sair do Sistema", "Logout", "Autentication")</li>
</ul>
</div>