@model IEnumerable<confop.Models.Comite>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Comitês</h2>

<p>
    @Html.ActionLink("Cadastrar Novo", "Create")
</p>
<table>
    <tr>
        <th>
            Nome
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Gerenciar Membros", "Index", "MembroComite", new { id = item.Id }, null) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
